body {
	font-family: 'Montserrat', sans-serif;
	
}

* {
	outline:none;
}

#logo {
	padding-top: 110px;
	max-width: 360px;
	max-height: 240px;
	margin-top:40px;
	margin-bottom: 20px;
}

#search-input {
	width: 700px;
	height: 45px;
	display: inline-block;
	padding-right:0px;
}


#search-button {
	margin-top: 25px;
	width: 200px;
	height:45px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: #f5f5f5;
}
#search-button:hover {
	background-color: #ffffff;
}

#mag-box {
	width:40px;
	height:45px;
	display: inline-block;
	font-size: 20px;
}

#mag {
	padding-top:10px;
}

#header {
	height: 50px;
	width: 100%;
}

#gear {
	font-size: 30px;
}
#info {
	font-size:30px;
	margin-right:30px;
}
/*Top panel stuff*/
.top-panel {
  background: #333;
  width: 100%;
  color: #fff;
  height: 200px;
  border-radius: 0px;
}

.top-push-closed {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  margin-top: -200px;
  transition: margin-top .2s ease-in;
  -moz-transition: margin-top .2s ease-in;
  -webkit-transition: margin-top .2s ease-in;
}

.top-push-active { margin-top: 0; }

.top-active { margin-top: 200px; }


/*About panel stuff*/
#side-panel {
	padding: 20px;
}

.panel {
  background: #333;
  width: 400px;
  color: #fff;
  height: 100%;
  border-radius: 0px;
}

.left-push-closed {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  margin-left: -400px;
  transition: margin-left .2s ease-in;
  -moz-transition: margin-left .2s ease-in;
  -webkit-transition: margin-left .2s ease-in;
}

.left-push-active { margin-left: 0; }

.main {
	 position: relative;
	  transition: margin .2s ease-in;
	  -moz-transition: margin .2s ease-in;
	  -webkit-transition: margin .2s ease-in;

}
.about-active { margin-left: 400px; }

#bar-spacer {
		height: 100%;
		width: 1px;
	transition: margin-right .2s ease-in;
	  -moz-transition: margin-right .2s ease-in;
	  -webkit-transition: margin-right .2s ease-in;
}
.add-space {
	margin-right: 230px;
}

/*Demo Button Styles*/
*, *:before, *:after {
   -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
.four .button-wrap {
  width: 100px;
  margin: 40px auto 0;
  cursor: pointer;
}
.four .button-bg {
  width: 100%;
  height: 100%;
  background-color: #bb2222;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.four .button-switch {
  position:relative;
  left:0px;
  width: 44px;
  height: 44px;
  border:solid 13px;
  background-color:#fff;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.four .button-active .button-switch { left:50px; }
.four .button-in, 
.four .button-out {
  position:absolute; 
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.four .button-in { margin-left:76px; }
.four .button-out { margin-left:18px; }
.four .button-active .button-out {  }
.four .button-active .button-in {  }
.four .button-active .button-bg { background-color:#22bb22; }
