<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Console Appender, orders by thread. (Technically the filter is not needed because it could be changed on the logger itself. Leaving
	it here allows for more items to be attached to that logger with varying levels in the future. -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>INFO</level>
    	</filter>
    	<encoder>
      		<pattern>
        		[%thread] %-5level %logger{30} - %msg%n
      		</pattern>
    	</encoder>
  	</appender>
	
	<!-- File Appender, orders by time/date then thread. -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    	<file>logs/testFile.log</file>
    	<append>true</append>
    	<encoder>
      		<pattern>%d{"yyyy-MM-dd' 'HH:mm:ss,SSS"} [%thread] %-5level %logger{35} - %msg %n</pattern>
    	</encoder>
  	</appender>
  
	<!--Writes every output from all program components to a log file.-->
	<root>          
    	<appender-ref ref="FILE" />
  	</root>  
  	
  	<!--Writes only INFO level messages and above to STDOUT.-->
  	<logger name="bingle.search" level="DEBUG">
    	<appender-ref ref="STDOUT" />
  	</logger>
	
</configuration>